// Author Profile Style
.directorist_user-profile{
    display: flex;
    .directorist_user-profile__left{
        min-width: 300px;
        margin-right: 20px;
    }
    .directorist_user-profile__right{
        flex: auto;
    }
}
.directorist_user-profile__left{
    .directorist_change-pass-form{
        button{
            width: 100%;
        }
    }
}