.atbd_content_active #directorist.atbd_wrapper{
  .btn{
    font-size: 14px;
    text-transform: capitalize;
    &:hover{
      background-image: none;
    }
  }
  .atbd_upload_btn{
    line-height: 48px;
    display: inline-block;
    padding: 0 20px;
    span{
      @extend .atbd_color-primary;
      margin-right: 6px;
    }
    background: #f5f7fc;
    color: #9299b8;
  }
}
#directorist.atbd_wrapper{
  .btn-sm {
    font-size: 14px;
    padding: 4px 8px;
  }
  .btn-outline-primary:hover,
  .btn-outline-danger:hover{
    color: #fff !important;
  }
  .btn-bordered{
    background: none !important;
    border: 1px solid #e3e6ef !important;
    color: #7a82a6 !important;
  }
  .btn-bordered:hover{
    background: none !important;
    border-color: #444752 !important;
  }
}

// Directorist Radio
.directorist_radio{
  label{
    
    input[type=radio]{
      display: none;
    }
  }
  .directorist_radio-inner{
    position: relative;
    margin: 0 !important;
    padding-left: 28px;
    &:after{
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid #C6D0DC;
      content: '';
    }
  }
  input{
    &:checked{
      &+ .directorist_radio-inner{
        &:after{
          border-width: 5px;
          border-color: $dark;
        }
      }
    }
  }
}

// Directorist Checkbox
.directorist_checkbox{
  label{
    
    input[type=checkbox]{
      display: none;
    }
  }
  .directorist_checkbox-inner{
    position: relative;
    margin: 0 !important;
    padding-left: 28px;
    &:after{
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 2px solid #C6D0DC;
      transition: .3s ease;
      content: '';
    }
    &:before{
      font-size: 15px;
      line-height: 0;
      position: absolute;
      left: 1px;
      top: 50%;
      font-family: dashicons;
      color: #fff;
      content: '\f147';
      z-index: 99;
    }
  }
  input{
    &:checked{
      &+ .directorist_checkbox-inner{
        &:after{
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }
}

.directorist_checkbox{

  label{
    position: relative;
    top: -3px;
    margin-left: 4px;
  }

  input[type="checkbox"]{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid #C6D0DC;

    &:checked{
      background-color: $dark !important;
      border-color: $dark !important;
      
      &:before{
        color: #fff;
        content: '\f147';
        font: normal 20px/1 dashicons;
        margin: 0;
      }
    }
    &:before{
      margin: 0;
      left: 13px;
      top: -2px;
    }
    &:focus{
      outline: 0 none;
      box-shadow: 0 0;
    }
  }
}